/* Light Mode Colors */
:root {
  --primary-color: #444a4e;
  --secondary-color: #84B2D9;
  --background-color: #ffffff;
  --hover-border-color: #336DBC;
  --border-color: #0000006b;
  --nav-hover-color: #338EC4;
  --nav-active-color: #338EC4; 
  --services-background-color: #DAE7F6;
  --solutions-backgrond-color: #015099;

  
}

/* Dark Mode Colors */
:root.dark {
  --primary-color: #c4c6c7;
  --secondary-color: #338EC4;
  --background-color: #1f1f1f;
  --hover-border-color: #84B2D9;
  --border-color: #bfbfbf6b;
  --nav-hover-color: #338EC4;
  --nav-active-color: #338EC4;
  --services-background-color: #101828;
  --solutions-backgrond-color: #101828;

}
body{
  font-family: 'Karla', sans-serif;
}
body p{
  font-size: 16px;
}
.containerCustom{
  max-width: 1500px;
  margin: 0 auto; 

}
.servicesSection{
  background-color: var(--services-background-color);
}
.solutionsSection{
  background-color: var(--solutions-backgrond-color);
}
.textColor{
  color: var(--primary-color);
}

.borderColor{
  color: var(--border-color);

}

.nav-link {
  color: #fff;
  position: relative;
  padding: 0px 2px 0px 2px;;
  display: flex;
  text-decoration: none;
  transition: color 0.3s;
  white-space: nowrap;
}

.nav-link:hover {
  color: var(--nav-hover-color);
}
.active-link {
  color: var(--nav-active-color);
}

/* underline animation */
/* .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #338EC4;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
} */

/* Active (Light Mode) */


/* .active-link::after {
  width: 100%;
} */

/* ✅ DARK MODE */


/* .dark .nav-link::after {
  background-color: #338EC4;
} */




/* button typhographi */

.btnBorder {
  color: #fff;
  background-color: #4992C1;
  padding: 13% 13% 13% 13%;
  border-top-left-radius: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;

}

.btnBorder:hover {
    color: white;
  transition: 0.2s ease;
  box-shadow: 0px 0px 3px 1px #4f679f;
}

.btnGradient {
  color: white;
  background: #4992C1;
  padding: 10px 20px;
  border-radius: 130px 40px 130px 40px;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
  position: relative;
  transition: 0.2s ease;

  /* overflow: hidden!important; */
}

/* .btnGradient::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(83, 78, 78, 0.25);
  border-radius: 130px 40px 130px 40px;
  color: white;
  transition: bottom 0.4s ease;
  opacity: 0;
} */

.btnGradient:hover {
  /* opacity: 100%; */
  color: white;
  transition: 0.2s ease;
  box-shadow: 0px 0px 3px 1px #4f679f;

}

.cardButton {
  color: white; 
  background: linear-gradient(90deg, #336DBC 0%, #FF5650 100%);
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
  background-size: 150% 100%;
  background-position: left center;
  transition: background-position 0.3s ease, transform 0.3s ease;
  font-size: 15px;

}

.cardButton:hover {
  background-position: right center;

}

.servicesSwiper .swiper-wrapper{
  align-items: flex-end ;
}


/*  */
.marquee {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-inner {
  display: inline-flex;
  gap: 10px;
  animation: scrollLeft 40s linear infinite;
}

/* Right → Left */
@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-inner.reverse {
  animation: scrollRight 40s linear infinite;
}

/* Left → Right */
@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.MuiInput-root::before,
.MuiInput-root::before {
  border-bottom: 1px solid var(--border-color) !important;
}
.MuiInputLabel-root {
  color: var(--primary-color) !important;
}

.MuiInputLabel-root {
  color: var(--primary-color) !important;
  /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
}

.MuiInput-input {
  color: var(--primary-color) !important;
}
.MuiInput-input {
  color: var(--primary-color) !important;
}

@keyframes popup {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* popup */
.animate-popup {
  animation: popup 0.25s ease-out;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* optional, if not using Tailwind animate-spin */
@keyframes spin {
  to { transform: rotate(360deg); }
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #0072B5; /* spinner color */
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 1s linear infinite;
}